<div class="container-fluid">
  <div class="row">

    <div class="col-3">
      {{!-- nothing just for spacing--}}
    </div>

    <div class="col-9">
      {{!-- 類別選項 --}}
      <div class="mt-4">
        <div class="dropdown">
          <button class="btn btn-outline-secondary dropdown-toggle d-flex justify-content-between align-items-center" style="width: 20rem;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{#if categoryType}}
              {{categoryType}}
            {{else}}
            請選擇類別
            {{/if}} 
          </button>
          <ul class="dropdown-menu">
            {{#each categoryList}}
            <form action="/">
            <li><button href="/" type="submit" class="dropdown-item" name="categoryId" value="{{this._id}}">{{this.name}}</button></li>
            </form>
            {{/each}}
            <form action="/">
              <li><button href="/" type="submit" class="dropdown-item" name="categoryId" value="">全部</button>
              </li>
            </form>
          </ul>
        </div>
      </div>
    
      {{!-- 總金額 --}}
      <div class="mt-4">
        <div class="d-flex flex-row justify-content-between" style="width: 20rem;">
          <h3>總金額:</h3> 
          <h1 style="font-size: 4rem; color: salmon;">{{totalAmount}}</h1>
        </div>
      </div>

      {{!-- list --}}
      <div class="border" style="border-color: grey; width: 30rem;">

        {{#each records}}
        <div class="row d-flex flex-row align-items-center mx-0 px-1 gx-0" style="height: 3rem;">
          <div class="col-1 d-flex justify-content-center">
            <i class="{{this.icon}} fa-2x"></i>
          </div>

          <div class="col-6 border d-flex flex-column justify-content-center">
            <span style="font-size: 1.2rem;">{{this.name}}</span>
            <span style="font-size: 0.4rem;">{{this.date}}</span>
          </div>

          <div class="col-1 border d-flex justify-content-center">
            <span>{{this.amount}}</span>
          </div>

          <div class="col-4 border d-flex justify-content-end px-2">
            <a href="#" class="mx-2">修改</a>
            <a href="#" class="mx-2">刪除</a>
          </div>
        </div>
        {{/each}}
      </div>

      {{!-- 新增支出按鈕 --}}
      <div class="mt-4">
        <div class="d-flex flex-row justify-content-center" style="width: 20rem;">
          <a href="#" class="btn btn-outline-dark" style="width: 12rem;">新增支出</a>
        </div>
      </div>

    </dir>
  </div>
</div>